*{
    font-family:Roboto,sans-serif;;
}
 #navbar{
     width: 100%;
     height: 85px !important;
     font-family:Roboto,sans-serif;
     background-color: white;
     position: fixed;
     top: 0;
     left: 0;
     display: flex;
     z-index: 1;
     
 }

 #left{
     width: 240px;
     margin-left: 200px;
     margin-top: 20px;
 }
 #left:hover{
     cursor: pointer;
 }
 #left>img{
     width: 100%;
     margin-top: 20px;
 }


 .mid{
    
    width: 680px; 
    height: 85px;
    margin-left: 60px;
    background-color: white;
 
}
.mid ul{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    margin-top: 33px;
    list-style: none;
}
.mid ul li{

    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: Roboto sans-serif;
    padding-top: 32px;
  padding-bottom: 34px;
   margin-top: -33px;
} 
.mid ul li a{
text-decoration: none;
color:grey;

}

.active,.mid ul li:hover{

background-color: rgb(229, 228, 228);
color: blue !important;
text-decoration-line: underline;
text-decoration-color: blue;
cursor: pointer;
font-weight: bold;
text-decoration-thickness: 4px;


}
.mid ul li:hover{
background-color: rgb(229, 228, 228);
padding-top: 32px;
padding-bottom: 32px;
margin-top: -33px;
color: blue;
text-decoration-line: underline;
text-decoration-color: blue;

}
.jobchild{
display: none;

}

.mid ul li:hover .jobchild{
display: block;
position:absolute;
background-color: rgb(229, 228, 228);
width: auto;
height: auto;
padding: 15px;
margin-top: 32px;
margin-left: -20px;

}

.mid ul li:hover .jobchild ul{

display:inline-block;
margin-left: -45px;
line-height: 25px;
margin-top: 25px;
margin-bottom: -50px;
}
.mid ul li:hover .jobchild ul li{

display: block;
position: relative;
margin-top: -125px;
text-decoration: none;


}

.right{
    
    width: 280px; 
    height: 85px;
    margin-left: 80px;
    background-color: white;
 
}

.right ul{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    font-size: 16px;
    margin-top: 25px;
    list-style: none;
}
.right ul li{

    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: Roboto sans-serif;
    
  
} 
.right ul li a{

text-decoration: none;
color:grey;

}

.right ul li:hover{

background-color: rgb(229, 228, 228);
color: blue;
text-decoration-line: underline;
text-decoration-color: blue;
cursor: pointer;
font-weight: bold;
text-decoration-thickness: 4px;


}
.right ul li:hover{
background-color: rgb(229, 228, 228);
padding-top: 30px;
padding-bottom: 30px;
margin-top: -35px;
}
.right ul li:hover:last-child{
margin-top: -30px;
padding-bottom: 40px;
}
.right ul li:hover:last-child ul{
margin-left: 20px;
}
.rightchild{
display: none;

} 

.right ul li:hover .rightchild{
display: block;
float:left;
position:absolute;
background-color: rgb(229, 228, 228);
width:auto;
height: auto;
padding: 15px;
margin-top: 40px;
margin-left: -270px;


}

.right ul li:hover .rightchild ul{

display:inline-block;

margin-left: -45px;
line-height: 25px;
margin-top: 25px;
margin-bottom: -100px;
}


.right ul li:hover .rightchild ul:first-child{
margin-left: 50px;

}

.right ul li:hover .rightchild ul li{

display: block;
position: relative;
margin-top: -25px;
text-decoration: none;


} 

.fa-bell{
font-size: 40px;
}

/* footer style */

#footer{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

#footer1{
    width: 100%;
    height: 700px;
    background-color: rgb(46, 44, 44);
    
   
}
#foot{
    width: 70%;
    height:92% ;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 100%;
    gap: 20px;
}
#foot>div{
    width: 280px;
 height:100% ;
 margin-top: 20px;
}

#foot1>img{
   height: 40px;
   border-radius: 5px;
}
#foot1>h3,#foot2>h3,#foot3>h3,#foot4>h3{
    color: white;
    font-family:Roboto,sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: -20px;
}
#foot1>p,#foot2>p,#foot3>p,#foot4>p{
 color: rgb(169, 164, 164);
    font-family: Roboto,sans-serif;
    line-height: 12px;
    font-size: 17px;
}
#foot4>img{
    margin-top: -10px;
    width: 40px;
    margin-bottom: 20px;
}
#foot4{
    margin-left: 40px;
}
#footer2{
    width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
#footer2>h2{
    width: 200px;
    margin-left:280px;
    color: black;
    margin-top: -20px;
    margin-right: -20px;
}
#motionfooter{
   width: 50%;
   margin-left:10px;
   height: 100px;
}

#motionimg{
    height: 100%;
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
#motionimg>div{
width: 300px;
height: 70px;
margin-left: 20px;
margin-top: 20px;
}
#motionimg>div>img{
width: 100%;
height: 100%;
margin-left: 20px;
}
marquee{
motion-path: fill-box;
}

#footer3{
 width: 100%;
    height: 50px;
    background-color: rgb(166, 163, 163);
    text-align: center;
    padding-top: 10px;
    font-family: Roboto,sans-serif;
    color: rgb(82, 81, 81);
}





